@{
    ViewData["Title"] = "Home Page";
    ViewData["Hello"] = "Hello everyone";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <partial name="_CoolPartial" model='new {Name = "Someeonee"}' view-data="ViewData" />
    <partial name="BadPartial" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
