@model Author;


<form action="/Books/AddAuthor" method="post">
    <div class="form-control">
        <input name="Name" type="text" placeholder="Auther's name'" />
    </div>

    <div class="form-control">
        <input name="NumberOfBooks" type="number" placeholder="Number of books" />
    </div>

    <button>Submit</button>
</form>
