@using MVC.Day2.Again.Models.Domain;
@model List<Book>;

<div class="container" >
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Price</h6>
            </div>
        </div>
    }
</div>